@model Book
@{
    ViewData["Title"] = Model.Title;
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    <p>Written by @Model.Author.Name</p>
    <img src="@Model.CoverImageUrl", alt="@Model.Title cover">
    <p>@Model.Blurb</p>
</div>
